*
{
    margin: 0;
    padding: 0;
}

/*------navigation-----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar-brand img {
    height: 40px;
    padding-left: 30px;

}
.news {
    color: #efefef;
}
.newa {
    color: #efefef;
}
.newt {
    color: #efefef;
}
.news {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    padding-right: 25px;
}
.newa {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    padding-right: 25px;
}
.newt {
    font-weight: 600;
    font-size: 16px;
    display: flex;
}
.Bosu {
    display: flex;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #000000!important;

}
.navbar{
    background: #fff;
    border-bottom: 2px solid black;
}
.navbar-toggler {
    border: none!important;
}
.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}


/*-------Footer------*/
#footer {
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-wordpress {
    margin: 3px;
    color:#10a9da;
}
/*-------Itunes section----*/
iframe {
    max-height: 350px;
    max-width: 400px;
}

.Mainframe {
    display: flex;
    position: relative;
    justify-content: center;
}
.framework {
    padding: 10px;
}

a.rams{
   size: 4px;
   text-decoration: white;
   color: white;
   border-radius: 15px;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   
}
.bt {
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
button.btn.btn-primary {
    background-color:#fa233b;
    color: #fa233b;
    border: #fa233b;
}
a.rams:hover {
    color: black;
}
#Itunes1 {
    padding-top: 50px;
}
#Itunes2 {
    padding-top: 50px;
}

#Itunes3 {
    padding-top: 50px;
}

#Itunes4 {
    padding-top: 50px;
}
#Itunes5 {
    padding-top: 50px;
}
.bottomline {
    margin-top: 20px;
    height: 100px;
    border: solid black;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)),url(img/SHeader.png);
    background-position: center;
}
.bottomline1 {
    height: 100px;
    border: solid black;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)),url(img/SDheader.png);
    background-position: center;
}
.bottomline2 {
    height: 100px;
    width: 100%;
    border: solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)),url(img/SiDheader.png);
    background-position: center;
}
.bottomline3 {
    height: 100px;
    border: solid black;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)),url(img/SiDiheader.png);
    background-position: center;
}
.bottomline4 {
    height: 100px;
    border: solid black;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)),url(img/SiDieheader.png);
    background-position: center;
}
/*------Text top-----*/
#Social h1 {
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
#Social h1::after {
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 400px;
    margin: 5px auto 5px;
}
#Social {
    margin-bottom: 50px;
}
.Kit {
    padding-top: 20px;
}
.Kat {
    display: middle;
    padding: 0%;
    margin: 0%;
}
@media (max-device-width: 480px) {
    #Itunes {
    display: block;
    max-width: 480px;
    margin: 0%;
    padding: 0%;
        }
        #Itunes1 {
            display: block;
            max-width: 480px;
            margin: 0%;
            padding: 0%;
                }
                #Itunes2 {
                    display: block;
                    max-width: 480px;
                    margin: 0%;
                    padding: 0%;
                        }
                        #Itunes3 {
                            display: block;
                            max-width: 480px;
                            margin: 0%;
                            padding: 0%;
                                }
                                #Itunes4 {
                                    display: block;
                                    max-width: 480px;
                                    margin: 0%;
                                    padding: 0%;
                                        }
                                        #Itunes5 {
                                            display: block;
                                            max-width: 480px;
                                            margin: 0%;
                                            padding: 0%;
                                                }
        .Mainframe {
            display: block;
            margin: 0%;
            padding: 0%;
        


        }
        .framework {
            margin: 0%;
            padding: 0%; }

            .btn {
                width: 100%;
                margin-bottom: 3%;
            }

    Iframe {
    width: 100%;
    height: 100%;
    }
}